{% include "components/base.html" %}
{% block content %}
    <div class="container">
        <div class="columns is-vcentered">
                <div class="column is-6 has-text-centered">
                    <h1 class="title has-text-weight-bold">What is the {{config['WEB_DISPLAY_NAME']}}?</h1>
                </div>
                <div class="column is-5 has-text-centered">
                    <h1 class="title has-text-weight-bold">Title 2</h1>
                </div>
            </div>
    </div>
{% endblock %}
